[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"
flask-limiter = "*"
flask-babel = "*"

[dev-packages]
pytest = "*"
ruff = "*"
mypy = "*"
pytest-cov = "*"
diff-cover = "*"
xenon = "*"
interrogate = "*"
pip-audit = "*"
cyclonedx-bom = "*"
pre-commit = "*"

[requires]
python_version = "3.13"
