[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"
flask-limiter = "*"
flask-babel = "*"
flask-talisman = "*"
flask-smorest = "*"

[dev-packages]
pytest = "*"
ruff = "*"
mypy = "*"
pytest-cov = "*"
diff-cover = "*"
xenon = "*"
interrogate = "*"
pip-audit = "*"
cyclonedx-bom = "*"
pre-commit = "*"
schemathesis = "*"

[requires]
python_version = "3.13"

[plugin-auth-totp-qr-segno]
segno = "*"

[plugin-db-mysql]
pymysql = "~=1.1"

[plugin-db-mariadb]
pymysql = "~=1.1"

[plugin-cache-redis]
redis = "~=5.0"

[deploy]
gunicorn = "~=23.0"
